<frame-page app-title="release note generator" white-background='true'>
  <div style='padding: 10px'>
    <div class='form-group rn-form row'>
      <div class='col-sm-3'>
        <label style='margin-top: 15px;'>From Date (YYYY-MM-DD) :</label>
      </div>
      <div class='col-sm-5'>
        <p class='input-group' style='margin-top: 9px;' >
          <input type="text" class="form-control" datepicker-popup="''yyyy-MM-dd'" ng-model="query.fromDate" is-open="status.opened" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
          </span>
        </p>
      </div>
      <div class='col-sm-2'>
        <button class='btn btn-primary' ng-click='refresh()'>Refresh Merged Pulls <i ng-if='loading' class='fa fa-spin fa-circle-o-notch'></i> </button>
      </div>
    </div>

    <div>
      Total Count : {{pulls.total_count}}<br/>
      Listed Count: {{pulls.items.length}}
    </div>

    <div ng-repeat="item in pulls.items | orderBy:number">
      #{{item.number}} : {{item.title}}
      <div ng-repeat="label in item.labels">
        + {{label.name}}
      </div>
    </div>
  </div>
</frame-page>
