<frame-page app-title="release note generator" white-background='true'>
  <div style='padding: 10px' ng-controller='ReleaseNoteController'>
    <div class='rn-form'>
      <div class='row'>
        <div class='form-group col-sm-6'>
          <label>User: </label>
          <input type='text' class='form-control' ng-model='user' required>
        </div>
      </div>
      <div class='row'>
        <div class='form-group col-sm-6'>
          <label>Repo: </label>
          <input type='text' class='form-control' ng-model='repo' required>
        </div>
      </div>
      <div class='row'>
        <div class='form-group col-sm-6'>
          <label>From Date (YYYY-MM-DD) :</label>
          <input type='text' class='form-control' ng-model='fromDate' required>
          <!-- <p class='input-group'>
            <input type="text" class="form-control" datepicker-popup="''yyyy-MM-dd'" ng-model="fromDate" is-open="status.opened" ng-required="true" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
            </span>
          </p> -->
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-2'>
          <button class='btn btn-primary' ng-click='refresh()'>Refresh Merged Pulls <i ng-if='loading' class='fa fa-spin fa-circle-o-notch'></i> </button>
        </div>
      </div>
    </div>
    <div style='padding: 10px;'>
      <div>
        Total Count : {{pulls.total_count}}<br/>
        Listed Count: {{pulls.items.length}}
      </div>

      <div ng-repeat="item in pulls.items | orderBy:number">
        #{{item.number}} : {{item.title}}
        <div ng-repeat="label in item.labels">
          + {{label.name}}
        </div>
      </div>
    </div>
  </div>
</frame-page>
