<div>
   <div>
      <div class='widget-body'>
         <form action='http://www.myprofdev.wisc.edu/portal/portal_login.asp' target='_blank'>
            <div class='input-group'><input type='text' name='searchtext' class='form-control' placeholder='Search courses and events'><span class='input-group-btn'><button class='btn btn-primary' type='submit'><i class='fa fa-search'></i></button></span></div>
         </form>
         <div class='row'>
            <div class='col-xs-5 col-xs-offset-1 icon-button-div'>
              <circle-button data-href='http://www.myprofdev.wisc.edu/default.asp' data-target='_blank' data-fa-icon='fa-at' data-disabled='false' data-title='All Courses and Events'></circle-button>
            </div>
            <div class='col-xs-5 icon-button-div'>
              <circle-button data-href='http://www.ohrd.wisc.edu/ohrdcatalogportal/LearningTranscript/tabid/57/Default.aspx?ctl=login' data-target='_blank' data-fa-icon='fa-envelope-o' data-disabled='false' data-title='My Transcript'></circle-button>
            </div>
         </div>
      </div>
      <a class='btn btn-default launch-app-button' href='{{::portlet.url}}' target='{{::portlet.target}}'>Launch full app</a>
   </div>
</div>